bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
CS_LABS.sln
c/labs/parallels/build/
c/labs/parallels/data/
c/labs/crypto/executables/
.DS_Store
.gitignore
c/labs/defence_apps/first_lab/prg.bin
c/labs/defence_apps/first_lab/snap.snp
.gitignore
*.ide
*.ide-shm
*.ide-wal.suo
*.lock
.suo
*.json
.vscode/settings.json
